!!! 5
%html.no-js{lang: "en"}
    %head
        %meta{charset: "utf-8"}
        %meta{name: "viewport", content: "width=device-width, initial-scale=1.0", shrink-to-fit: "no"} 
        %meta{author: "Isle Gold Anything"}
        %title
            Isle Gold Anything
        -# Favicon
        -# %link{"href" => "/assets/img/favicon.png", "rel" => "shortcut icon"}
        
        -# CSS
        %link{href: "lib/bootstrap/dist/css/bootstrap.min.css", rel: "stylesheet"}
        %link{href: "lib/font-awesome/css/font-awesome.min.css", rel: "stylesheet"}

        %link{href: "https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800", rel: "stylesheet"}
        %link{href: "https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic", rel: "stylesheet"}
        %link{href: "lib/magnific-popup/dist/magnific-popup.css", rel: "stylesheet"}
        %link{href: "css/app.css", rel: "stylesheet"}
    %body#page-top
        %nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top
            .container
                %a.navbar-brand.js-scroll-trigger{href: "#page-top"} Isle Gold Anything
                %button.navbar-toggler.navbar-toggler-right{type: "button", data-toggle: "collapse", data-target: "#navbarResponsive"}
                    %span.navbar-toggler-icon
                #navbarResponsive.collapse.navbar-collapse
                    %ul.navbar-nav.ml-auto
                        %li.nav-item
                            %a.nav-link.js-scroll-trigger{href: "#about"} About
                        %li.nav-item
                            %a.nav-link.js-scroll-trigger{href: "#services"} Services
                        %li.nav-item
                            %a.nav-link.js-scroll-trigger{href: "#portfolio"} Portfolio
                        %li.nav-item
                            %a.nav-link.js-scroll-trigger{href: "#contact"} Contact

        %header.masthead
            .header-content
                .header-content-inner
                    %h1#homeHeading On-vehicle gold plating services
                    %hr
                    %p We understand vehicles are more than just a transport solution, they're an expression of the owner
                    %a.btn.btn-primary.btn-xl.js-scroll-trigger{href: "#about"} Find Out More

        %section.bg-primary#about
            .container
                .row
                    .col-lg-8.mx-auto.text-center
                        %h2.section-heading.text-white We've got what you need!
                        %hr.light
                        %p.text-fadedStart Isle Gold Anything offer bespoke vehicle enhancement solutions transforming standard finishes into 24k gold.
                        %a.btn.btn-default.btn-xl.js-scroll-trigger{href: "#services"} Get Started!

        %section#services
            .container
                .row
                    .col-lg-12.text-center
                        %h2.section-heading At Your Service
                        %hr.primary
            .container
                .row
                    .col-lg-3.col-md-6.text-center
                        .service-box
                            %i.fa.fa-4x.fa-map-marker.text-primary.sr-icons
                            %h3 Mobile
                            %p.text-muted Pitch your 4 main pros/benefits of your service
                    .col-lg-3.col-md-6.text-center
                        .service-box
                            %i.fa.fa-4x.fa-car.text-primary.sr-icons
                            %h3 Hassle Free
                            %p.text-muted Pitch your 4 main pros/benefits of your service 
                    .col-lg-3.col-md-6.text-center
                        .service-box
                            %i.fa.fa-4x.fa-rocket.text-primary.sr-icons
                            %h3 24k Gold
                            %p.text-muted Pitch your 4 main pros/benefits of your service
                    .col-lg-3.col-md-6.text-center
                        .service-box
                            %i.fa.fa-4x.fa-star.text-primary.sr-icons
                            %h3 Unique
                            %p.text-muted Pitch your 4 main pros/benefits of your service
        
        -# %section.p-0#portfolio
        -#     .container-fluid
        -#         .row.no-gutter.popup-gallery
        -#             .col-lg-4.col-sm-6
        -#                 %a.portfolio-box{href: "img/portfolio/fullsize/1.jpg"}
        -#                     %img.img-fluid{src: "img/portfolio/thumbnails/1.jpg"}
        -#                     .portfolio-box-caption
        -#                         .portfolio-box-caption-content
        -#                             .project-category.text-faded
        -#                                 Category
        -#                             .project-name
        -#                                 Project Name
        -#             .col-lg-4.col-sm-6
        -#                 %a.portfolio-box{href: "img/portfolio/fullsize/2.jpg"}
        -#                     %img.img-fluid{src: "img/portfolio/thumbnails/2.jpg"}
        -#                     .portfolio-box-caption
        -#                         .portfolio-box-caption-content
        -#                             .project-category.text-faded
        -#                                 Category
        -#                             .project-name
        -#                                 Project Name
        -#             .col-lg-4.col-sm-6
        -#                 %a.portfolio-box{href: "img/portfolio/fullsize/3.jpg"}
        -#                     %img.img-fluid{src: "img/portfolio/thumbnails/3.jpg"}
        -#                     .portfolio-box-caption
        -#                         .portfolio-box-caption-content
        -#                             .project-category.text-faded
        -#                                 Category
        -#                             .project-name
        -#                                 Project Name
        -#             .col-lg-4.col-sm-6
        -#                 %a.portfolio-box{href: "img/portfolio/fullsize/4.jpg"}
        -#                     %img.img-fluid{src: "img/portfolio/thumbnails/4.jpg"}
        -#                     .portfolio-box-caption
        -#                         .portfolio-box-caption-content
        -#                             .project-category.text-faded
        -#                                 Category
        -#                             .project-name
        -#                                 Project Name
        -#             .col-lg-4.col-sm-6
        -#                 %a.portfolio-box{href: "img/portfolio/fullsize/5.jpg"}
        -#                     %img.img-fluid{src: "img/portfolio/thumbnails/5.jpg"}
        -#                     .portfolio-box-caption
        -#                         .portfolio-box-caption-content
        -#                             .project-category.text-faded
        -#                                 Category
        -#                             .project-name
        -#                                 Project Name
        -#             .col-lg-4.col-sm-6
        -#                 %a.portfolio-box{href: "img/portfolio/fullsize/6.jpg"}
        -#                     %img.img-fluid{src: "img/portfolio/thumbnails/6.jpg"}
        -#                     .portfolio-box-caption
        -#                         .portfolio-box-caption-content
        -#                             .project-category.text-faded
        -#                                 Category
        -#                             .project-name
        -#                                 Project Name

        %section.p-0
            .container-fluid
                -#.row.no-gutter.instagram

                .row
                    .card-group.instagram


        .call-to-action.bg-dark
            .container.text-center
                %h2 Follow us on Instagram
                %a.btn.btn-default.btn-xl.sr-button{href:"https://www.instagram.com/iowgold/"} 
                    %i.fa.fa-fw.fa-lg.fa-instagram.mr-2
                    Follow @IsleGoldAnything

        -# %section.p-0
        -#     .container-fluid
        -#         -#.row.no-gutter.instagram

        -#         .row
        -#             .card-columns.instagram

        


        %section#contact
            .container
                .row
                    .col-lg-8.mx-auto.text-center
                        %h2.section-heading Let"s Get In Touch!
                        %hr.primary
                        %p Ready to start your next project with us? That"s great! Give us a call or send us an email and we will get back to you as soon as possible!
                .row
                    .col-3.ml-auto.pt-3.text-center
                        %a{href: "tel:+447871042183"}
                            %i.fa.fa-phone.fa-3x.sr-contact
                    .col-3.mr-auto.pt-3.text-center
                        %a{href: "mailto:your-email@domain.com"} 
                            %i.fa.fa-envelope-o.fa-3x.sr-contact
                    .col-3.ml-auto.pt-3.text-center
                        %a{href: "https://www.facebook.com/iowgold/"}
                            %i.fa.fa-facebook.fa-3x.sr-contact
                    .col-3.mr-auto.pt-3.text-center
                        %a{href: "https://www.twitter.com/iowgold"}
                            %i.fa.fa-twitter.fa-3x.sr-contact
        -# JS
        %script{src: "lib/jquery/dist/jquery.min.js"}
        %script{src: "lib/popper.js/dist/umd/popper.min.js"}
        %script{src: "lib/bootstrap/dist/js/bootstrap.min.js"}
        %script{src: "lib/jquery.easing/jquery.easing.min.js"}
        %script{src: "lib/scrollreveal/dist/scrollreveal.min.js"}
        -#%script{src: "lib/magnific-popup/dist/jquery.magnific-popup.min.js"}
        %script{src: "lib/spectragram/spectragram.js"}
        %script{src: "js/app.js", async: "true"}