.spectragram {
    background-color: $gray-base;
    .spectragram-item {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        a {
            img {
                flex-shrink: 0;
                min-width: 100%;
                min-height: 100%;
            }
        }
    }
}