// Variables
// Gray and Brand Colors for use across theme
$platinum: #e5e4e2;
// $gold: #c39738;
$gold: #d5af2b;
// $gold: #D4AF37;
$silver: #b3b6af;
$bronze: #f58e4b;
$theme-primary: $gold;
$gray-base: #333 !default;
$gray-darker: lighten($gray-base, 13.5%) !default;
$gray-dark: lighten($gray-base, 20%) !default;
$gray: lighten($gray-base, 33.5%) !default;
$gray-light: lighten($gray-base, 46.7%) !default;
$gray-lighter: lighten($gray-base, 93.5%) !default;